/**** Bases ****/
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/***** Variables *****/
.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); /* 2 */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 3 */
}

.button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border: solid #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100dvh - 215px);
  padding: 40px 0;
  gap: 40px;
}
.user-container .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.user-container .user-name h1 {
  color: #fff;
  margin: 0;
}
.user-container .user-name .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.user-container .user-name .buttons-container .button {
  padding: 10px;
  width: 80px;
}
.user-container .accounts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.user-container .accounts-container .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid black;
}
@media (min-width: 720px) {
  .user-container .accounts-container .account {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
  }
}
.user-container .accounts-container .account .account-content-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.user-container .accounts-container .account .account-content-wrapper .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.user-container .accounts-container .account .account-content-wrapper .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.user-container .accounts-container .account .account-content-wrapper .account-amount-description {
  margin: 0;
}
.user-container .accounts-container .account .button {
  width: 100%;
}
@media (min-width: 720px) {
  .user-container .accounts-container .account .account-content-wrapper.cta {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .user-container .accounts-container .account .button {
    width: 250px;
  }
}/*# sourceMappingURL=user.css.map */