@import "../../index";

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    width: 80%;
    background-color: $secondary-color;
    padding: 1.5rem;
    border: 1px solid black;

    @include media-phone {
        flex-direction: row;
    }

    .account-content-wrapper {
        width: 100%;
        flex: 1;

        .account-title {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-weight: normal;
        }

        .account-amount {
            margin: 0;
            font-size: 2.5rem;
            font-weight: bold;
        }

        .account-amount-description {
            margin: 0;
        }
    }

    .button {
        width: 250px;
    }

    @include media-phone { 
        .account-content-wrapper.cta {
          flex: 0;
        }
      
        .button {
          width: 200px;
        }
    }
}