@import "../../../index";

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 175px);
    padding-bottom: 40px;
    gap: 40px;

    .button {
        display: none;
    }

    .account {
        text-align: center;
        height: 120px;
        width: 100%;      
        
        .account-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .transactions-container {
        display: flex;
        flex-direction: column;
        margin: 0 30px;

        @include media-phone {
            margin: 0 60px;
        }

        .titles-container {
            display: none;
            
            @include media-phone {
                display: grid;
                grid-template-columns: 5% 8% 1% 8%;
                justify-content: space-between;
                padding-left: 90px;
                padding-right: 30px;
            }
            
            .title {
                //flex: 25px;
                margin: 0;
                padding-bottom: 5px;
                color: $secondary-color;
                text-transform: uppercase;
            }
        }
    }
}

